body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.home-body {
  display: flex;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
}

.list-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-menu li {
  display: block;
  float:left;
}

.list-menu a {
  display: block;
  padding: 8px;
  background-color: #fdfb67;
  color:green
}

.about-me h1 {
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: rgb(126, 144, 122);
  }

.about-me p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

.projects h1 {
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color:black;
}

.work h1 {
  font-size: 36px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color:black;
}

.contact h1 {
  font-size: 36px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color:black;
}

.navbar {
  background-color: rgb(126, 144, 122);
}

.navbar-nav a{
  color: black;
}

.navbar-brand {
  color: black;
}

.navbar-nav a:hover {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

@media (max-width: 900px) {
  .home-body {
    display: block;
  }
  
}